<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="icon" href="static/images/circle.png" sizes='40x40 90x90' type="image/png">

    <title>Password Reset</title>
    <style>
       .container {
        padding-right: 350px;
        padding-left: 450px;
        padding-bottom: 200px;
        padding-top: 200px;
       }
       .lock-icon {
            font-size: 44px;
            height: 62px;
            width: 32px;
        }
    </style>
</head>

<body>
    <form method="post" class="container">
        {% csrf_token %}
        <div class="card text-center" style="width: 350px;">
            <div class="card-header h5 text-white bg-primary" style="height: 50px;">Password Reset</div>
            <div class="card-body px-5">
                <span><i class="fas fa-lock lock-icon text-primary"></i></span>
                <p class="card-text">
                    Enter your email address, and we'll send you an email with instructions to reset your password.
                </p>
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="far fa-envelope"></i></span>
                    <input type="email" id="email" name="email" required class="form-control" placeholder="Enter Email">
                </div>
                <button type="submit" class="btn btn-success" style="width:200px;">Submit</button>
            </div>
            <div>
                <p ><a href="{% url 'show_login' %}"> Back to login</a></p>

            </div>
        </div>
    </form>
    <script>
        var userNotExist = "{{ user_not_exist }}";  // Get the value from Django view (True or False)

        if (userNotExist === 'True') {
            alert("User does not exist. Please check your email address.");
        }
    </script>
</body>
</html>
