<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" href="static/images/circle.png" sizes='40x40 90x90' type="image/png">

    <title>Reset Password Confirm</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        
        .container {
            width: 400px;
        }
        
        .card-header {
            padding-top: 10px;
            height: 50px;
        }
        
        form {
            padding: 20px;
            border: 1px solid #ced4da;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="card text-center">
            <div class="card-header h5 text-white bg-primary">Reset Password</div>
            <form method="post" class="needs-validation" novalidate>
                {% csrf_token %}
                <div class="mb-3">
                    <label for="password" class="form-label">New Password:</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                    <div class="invalid-feedback">Please provide a new password.</div>
                </div>
                <div class="mb-3">
                    <label for="confirm_password" class="form-label">Confirm New Password:</label>
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password"
                        required>
                    <div class="invalid-feedback">Please confirm the new password.</div>
                    <div class="password-match-feedback" style="color: red;"></div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-success">Reset Password</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        // Form validation using Bootstrap classes
        (function () {
            "use strict";
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll(".needs-validation");
            // Loop over them and prevent submission
            Array.prototype.slice.call(forms).forEach(function (form) {
                form.addEventListener("submit", function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    } else if (form.password.value !== form.confirm_password.value) {
                        event.preventDefault();
                        event.stopPropagation();
                        var passwordMatchFeedback = form.querySelector('.password-match-feedback');
                        passwordMatchFeedback.textContent = 'Passwords do not match. Please try again.';
                    }
                    form.classList.add("was-validated");
                }, false);
            });
        })();
    </script>
</body>

</html>
