<body>
    <p><strong><b>Dear Sir/Madam,</b></strong></p>

    <p>Please login in HRMS portal and approve/reject leave(s) of Mr./Ms.{{first_name}} {{last_name}} leave date from {{ leave_start_dates }} to {{ leave_end_dates }} </p>

    <p>If no action taken, leave will get auto-approved after 7 days.</p>

    <p>Please click the following link to access the application:</p>        
    <p><a href="{{ application_link }}">{{ application_link }}</a></p>

    <p>Regards,</p>
    <p>HRMS</p>
    
</body>
