{% extends 'hr_management/admin/base_template.html' %}
{% load static %}
{% block title %} Payroll{% endblock title %}
{% block main_content %}
  <div class="container">
    <h2>Add Payroll Details</h2>
    <form method="POST">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-6">
            {% csrf_token %}
            {{ obj.as_p }}
          {{ form.as_p }}
        </div>
      </div>
      <button type="submit" class="btn btn-primary mt-3">Save</button>
    </form>
  </div>
  {% endblock main_content %}
