{% extends 'hr_management/admin/base_template.html' %}
{% block page_title %}
Edit HR
{% endblock page_title %}
{% block main_content %}
<!-- Main content -->
<section class="content">
  <div class="container-fluid" style="width: 900px;">
    <div class="row">
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Edit HR</h3>
          </div>
          <form role="form" action="/edit_hr_save" method="post">
            {% csrf_token %}
            <div class="card-body">
              <div class="row">
                <div class="form-group col-md-6">
                  <label>Email address</label>
                  <input type="email" class="form-control" name="email" placeholder="Enter email"
                    value="{{ hr.admin.email }}">
                </div>
                <div class="form-group col-md-6">
                  <label>First Name</label>
                  <input type="text" class="form-control" placeholder="First Name" name="first_name"
                    value="{{ hr.admin.first_name }}">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label>Last Name</label>
                  <input type="text" class="form-control" placeholder="Last Name" name="last_name"
                    value="{{ hr.admin.last_name }}">
                  <input type="hidden" name="hr_id" value="{{ hr.admin.id }}">
                </div>
                <div class="form-group col-md-6">
                  <label>Username</label>
                  <input type="text" class="form-control" placeholder="Username" name="username"
                    value="{{ hr.admin.username }}">
                </div>
              </div>
              <div class="row">

                <div class="form-group col-md-6">
                  <label>Department</label>
                  <select name="department" class="form-control">
                    <option value="">Select Department</option>
                    <option value="DSBU" {% if hr.department == "DSBU" %} selected {% endif %}>DSBU</option>
                    <option value="HSBO" {% if hr.department == "HSBO" %} selected {% endif %}>HSBO</option>
                    <option value="SPBU" {% if hr.department == "SPBU" %} selected {% endif %}>SPBU</option>
                    <option value="SSBU" {% if hr.department == "SSBU" %} selected {% endif %}>SSBU</option>
                    <option value="SIBU" {% if hr.department == "SIBU" %} selected {% endif %}>SIBU</option>
                    <option value="HQ" {% if hr.department == "HQ" %} selected {% endif %}>HQ</option>
                  </select>
                </div>
                  <div class="form-group col-md-6">
                    <label>Manager</label>
                    <select name="manager" id="manager-select" class="form-control">
                      {% if not hr.admin.manager %}
                      <option value="">Select Manager</option>
                      {% endif %}
                      {% for manager_option in manager %}
                      <option value="{{ manager_option }}" {% if manager_option == hr.admin.manager %} selected {% endif %}>{{ manager_option }}</option>
                      {% endfor %}
                    </select>
                </div>
              </div>
              <div class="form-group">
                {% if messages %}
                {% for message in messages %}
                {% if message.tags == 'error' %}
                <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                {% endif %}
                {% if message.tags == 'success' %}
                <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                {% endif %}
                {% endfor %}
                {% endif %}
              </div>

            </div>
            <!-- /.card-body -->

            <div class="text-center" style="padding-bottom:20px;">
              <button type="submit" class="btn btn-success ">Save HR</button>
            </div>
          </form>
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>
<!-- /.content -->
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var defaultValue = "{{ hr.admin.manager }}"; // Replace this with the actual value from your database
    var managerSelect = document.getElementById("manager-select");
    for (var i = 0; i < managerSelect.options.length; i++) {
      if (managerSelect.options[i].value === defaultValue) {
        managerSelect.selectedIndex = i;
        break;
      }
    }
  });
</script>
{% endblock main_content %}