{% load static %}
<style>
  .sub-menu {
    display: none;
  }

  .sub-menu.active {
    display: block;
  }
</style>
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  

  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="{% url 'admin_profile' %}" class="d-block">{{ request.user.username }}</a>
      </div>
    </div>

    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          {% url 'admin_home' as admin_home %}
          <a href="{{ admin_home }}" class="nav-link {% if request.path == admin_home %} active {% endif %}">
            <i class="nav-icon fas fa-home"></i>
            <p>
              Home
            </p>
          </a>
        </li>

        <li class="nav-item has-treeview">
          {% url 'add_hr' as add_hr %}
          <a href="#" class="nav-link" onclick="toggleSubMenu('sub-menu-1')">
            <i class="nav-icon fas fa-user-tie"></i>
            <p>
              Human Resource
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul id="sub-menu-1" class="nav nav-treeview sub-menu">
            <li class="nav-item">
              {% url 'add_hr' as add_hr %}
              <a href="{{ add_hr }}" class="nav-link {% if request.path == add_hr %} active {% endif %}">
                <i class="nav-icon fas fa-plus"></i>
                <p>
                  Add HR
                </p>
              </a>
            </li>
            <li class="nav-item">
              {% url 'manage_hr' as manage_hr %}
              <a href="{% url 'manage_hr' %}"
                class="nav-link {% if request.path == manage_hr %} active {% endif %} {% if request.path == '/edit_hr/' %} active {% endif %}">
                <i class="nav-icon fas fa-edit"></i>
                <p>
                  Manage HR
                </p>
              </a>
            </li>
            <li class="nav-item">
              {% url 'admin_send_notification_hr' as admin_send_notification_hr %}
              <a href="{% url 'admin_send_notification_hr' %}"
                class="nav-link {% if request.path == admin_send_notification_hr %} active {% endif %}">
                <i class="nav-icon fas fa-bell"></i>
                <p>
                  Send HR Notification
                </p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          {% url 'add_manager' as add_manager %}
          <a href="#" class="nav-link" onclick="toggleSubMenu('sub-menu-2')">
            <i class="nav-icon fas fa-user"></i>
            <p>
              Manager
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul id="sub-menu-2" class="nav nav-treeview sub-menu">
            <li class="nav-item">
              <a href="{% url 'add_manager' %}"
                class="nav-link {% if request.path == add_manager %} active {% endif %}">
                <i class="fas fa-plus"></i>
                <p>
                  Add Manager
                </p>
              </a>
            </li>  
          </ul>
        </li>
        <li class="nav-item has-treeview">
          {% url 'add_employee' as add_employee %}
          <a href="#" class="nav-link" onclick="toggleSubMenu('sub-menu-2')">
            <i class="nav-icon fas fa-users"></i>
            <p>
              Employees
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul id="sub-menu-2" class="nav nav-treeview sub-menu">
            <li class="nav-item">
              <a href="{% url 'add_employee' %}"
                class="nav-link {% if request.path == add_employee %} active {% endif %}">
                <i class="fas fa-plus"></i>
                <p>
                  Add Employee
                </p>
              </a>
            </li>
            <li class="nav-item">
              {% url 'manage_employee' as manage_employee %}
              {% url 'edit_employee' employee_id=id as edit_employee %}
              <a href="{% url 'manage_employee' %}"
                class="nav-link {% if request.path == manage_employee %} active {% endif %} {% if request.path == edit_employee %} active {% endif %}">
                <i class="fas fa-edit"></i>
                <p>
                  Manage Employees
                </p>
              </a>
            </li>
            <li class="nav-item">
              {% url 'employee_leave_view' as employee_leave_view %}
              <a href="{% url 'employee_leave_view' %}"
                class="nav-link {% if request.path == employee_leave_view %} active {% endif %}">
                <i class="nav-icon fas fa-check"></i>
                <p>
                  Approve Leave
                </p>
              </a>
            </li>
            <li class="nav-item">
              {% url 'admin_send_notification_employee' as admin_send_notification_employee %}
              <a href="{% url 'admin_send_notification_employee' %}"
                class="nav-link {% if request.path == admin_send_notification_employee %} active {% endif %}">
                <i class="fas fa-bell"></i>
                <p>
                  Send Notification
                </p>
              </a>
            </li>
          </ul>
        </li>





        <li class="nav-item has-treeview">
          {% url 'add_account' as add_account %}
          <a href="#" class="nav-link" onclick="toggleSubMenu('sub-menu-2')">
            <i class="nav-icon fas fa-users"></i>
            <p>
              Accounts
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul id="sub-menu-2" class="nav nav-treeview sub-menu">
            <li class="nav-item">
              <a href="{% url 'add_account' %}"
                class="nav-link {% if request.path == add_account %} active {% endif %}">
                <i class="fas fa-plus"></i>
                <p>
                  Add Account
                </p>
              </a>
            </li>
            <li class="nav-item">
              {% url 'manage_account_section' as manage_account_section %}
              {% url 'edit_emedit_account_sectionployee' employee_id=id as edit_employee %}
              <a href="{% url 'manage_account_section' %}"
                class="nav-link {% if request.path == manage_account_section %} active {% endif %} {% if request.path == edit_account_section %} active {% endif %}">
                <i class="fas fa-edit"></i>
                <p>
                  Manage Accounts
                </p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link" onclick="toggleSubMenu('sub-menu-3')">
            <i class="nav-icon fas fa-money-check-alt"></i>
            <p>
              Offer Letter
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul id="sub-menu-3" class="nav nav-treeview sub-menu">
            <li class="nav-item">
              {% url 'generate_offer_letter' as generate_offer_letter %}
              <a href="{% url 'generate_offer_letter' %}"
                class="nav-link {% if request.path == generate_offer_letter %} active {% endif %}">
                <i class="nav-icon fas fa-file-alt"></i>
                <p>
                  Generate Offer Letter
                </p>
              </a>
            </li>
            <li class="nav-item">
              {% url 'offer_letter_sended_history' as offer_letter_sended_history %}
              <a href="{% url 'offer_letter_sended_history' %}"
                class="nav-link {% if request.path == offer_letter_sended_history %} active {% endif %}">
                <i class="nav-icon fas fa-history"></i>
                <p>
                  Offer Letter History
                </p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link" onclick="toggleSubMenu('sub-menu-4')">
            <i class="nav-icon fas fa-money-bill-alt fa-3x"></i>
            <p>
              Payroll
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul id="sub-menu-3" class="nav nav-treeview sub-menu">
            <li class="nav-item">
              {% url 'wage_register' as wage_register %}
              <a href="{% url 'wage_register' %}"
                class="nav-link {% if request.path == wage_register %} active {% endif %}">
                <i class="nav-icon fas fa-book fa-3x"></i>
                <p>
                  Wage Register
                </p>
              </a>
            </li>
            <li class="nav-item">
              {% url 'old_wage_register' as old_wage_register%}
              <a href="{% url 'old_wage_register' %}"
                class="nav-link {% if request.path == old_wage_register %} active {% endif %}">
                <i class="nav-icon fas fa-file-alt"></i>
                <p>
                  Old Wage Register
                </p>
              </a>
            </li>
          </ul>
          <li class="nav-item">
            {% url 'manage_reimbursement_view' as manage_reimbursement_view %}
            <a href="{{ manage_reimbursement_view }}" class="nav-link {% if request.path == manage_reimbursement_view %} active {% endif %}">
              <i class="nav-icon fas fa-check"></i>
              <p>
                Approve Reimbursement
              </p>
            </a>
          </li>
          <li class="nav-item">
            {% url 'all_employee_salary_slip' as all_employee_salary_slip %}
            <a href="{{ all_employee_salary_slip }}" class="nav-link">
              <i class="nav-icon fas fa-file-invoice-dollar"></i>
              <p>
                Salary Summary
              </p>
            </a>
          </li>
          <li class="nav-item">
            {% url 'download_reimbursement_files' as download_reimbursement_files %}
            <a href="{{ download_reimbursement_files }}" class="nav-link">
              <i class=" nav-icon fas fa-file-download"></i>
              <p>
                Download Files
              </p>
            </a>
          </li>
        </li>
      </ul>
    </nav>
  </div>
</aside>

<script>
  function toggleSubMenu(subMenuId) {
    var subMenu = document.getElementById(subMenuId);
    subMenu.classList.toggle("active");
  }
</script>