{% extends 'hr_management/account_template/base_template.html' %}

{% block title %}Reimbursement History{% endblock title %}
{% block custom_css %}
<style>
    .pagination {
        /* Updated styling for the pagination div */
        /* Set the position to fixed */
        left: 0;
        right: 0;
        bottom: 10px;
        /* Adjust the bottom value to give space between pagination and footer */
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f0f0f0;
        width: 100%;
        height: 100px;
        /* Increased height to make it more visible */
    }
    /* .step-links{
        position: fixed;
    } */
    .center-pagination .step-links {
        text-align: center;
    }
    .center-pagination .step-links {
        text-align: center;
    }
    /* Styles for the modal popup */
    #customPopup {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .modal-content {
        background-color: #FEFEFE;
        position: fixed;
        top: 50%;           /* Center vertically */
        left: 50%;          /* Center horizontally */
        transform: translate(-50%, -50%);  /* Adjust for centering */
        margin: auto;
        padding: 10px;
        border: 1px solid #888;
        width: 500px;
        border-radius: 8px;
        z-index: 1;
    }
    
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
    }
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    textarea {
        width: 100%;
        height: 100px; /* Adjust the height of the textarea as per your needs */
        margin-bottom: 10px;
        resize: vertical;
    }
    #submitbutton{
        width: 150px;
        height: 40px;
        margin-bottom: 10px;
        resize: vertical;
        align-items:center;
        margin: 0 auto 10px; /* This centers the button horizontally and adds a bottom margin */
        display: block;
    }

    .button-container {
        display: flex;
        gap: 10px; /* Adjust the gap between buttons as needed */
    }

    .button-container button {
        flex: 1;
    }
</style>
{% endblock custom_css %}

{% block main_content %}

<div class="card card-primary container" >
    <div class="card-header">
        <h3 class="card-title">Reimbursement History</h3>
    </div>

    <div class="table">
        <table class="table">
            <tr>
                <th>Employee ID</th>
                <th>Name</th>
                <th>Claim No</th>
                <th>Claim Date</th>
                <th>Claim Amount</th> 
                <th>View</th>
                <th>Approved by</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            {% for i in reimbursement %}
            <tr>
                <td>{{ i.employee_id.emp_id }}</td>
                <td>{{ i.employee_id.admin.first_name }} {{ i.employee_id.admin.last_name }}</td>
                <td>{{ i.bill_no }}</td>
                <td>{{ i.created_at }}</td>
                <td>{{ i.total_amount }}</td>
                
                <td>
                    <a href="{% url 'view_reimbursement' i.id %}" class="btn btn btn-primary">View</a>         
                </td>
                <td>{{ i.approved_by }}</td>
                <td >
                    {% if i.reimbursement_status == 1 %}
                    <button class="btn btn-warning btn-sm" disabled="disabled">Approved by Manager</button>
                    {% elif i.reimbursement_status == 2 %}
                    <span class="alert alert-danger">Rejected</span>
                    {% elif i.reimbursement_status == 3 %}
                    <button class="btn btn-warning btn-sm" disabled="disabled">Approved by Account</button>
                    {% else %}
                    <span class="alert alert-info">Pending</span>
                    {% endif %}
                </td>
                <td>
                    {% if i.reimbursement_status == 1 %}
                    <div class="button-container">
                        <button class="btn btn-success" onclick="disableButtons(this)"><a
                                href="{% url 'employee_approve_reimbursement_account' id=i.id %}"
                                class="btn btn-success btn-sm">Payment Done</a></button>
                        <button type="button" onclick="showPopup('{{ i.id }}')" class="btn btn-danger btn-sm">Send
                            Back</button>
                    </div>
                    <div id="customPopup_{{ i.id }}" style="display: none;">
                        <div class="modal-content">
                            <span class="close" onclick="closePopup('{{ i.id }}')">&times;</span>
                            <textarea id="customTextField_{{ i.id }}" name="query"
                                placeholder="Enter Send Back Reason..."></textarea>
                            <button type="button" id="submitbutton_{{ i.id }}" onclick="submitCustomText('{{ i.id }}')"
                                class="btn btn-success">Submit</button>
                        </div>
                    </div>
                    <form id="recheckForm_{{ i.id }}" method="POST"
                        action="{% url 'employee_disapprove_reimbursement_account' id=i.id %}" style="display: none;">
                        {% csrf_token %}
                        <input type="hidden" name="query" id="recheckInput_{{ i.id }}">
                    </form>
                    {% elif i.reimbursement_status == 3 %}
                    <button class="btn btn-success" disabled="disabled">Payment Done</button>
                    {% else %}
                    <button class="btn btn-danger" disabled="disabled">Re-Checked</button>
                    {% endif %}
                </td>
               
                
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<div class="pagination">
    <span class="step-links">
        {% if reimbursement.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ reimbursement.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ reimbursement.number }} of {{ reimbursement.paginator.num_pages }}.
        </span>

        {% if reimbursement.has_next %}
        <a href="?page={{ reimbursement.next_page_number }}">next</a>
        <a href="?page={{ reimbursement.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
<script>
    function showPopup(id) {
        var customPopup = document.getElementById('customPopup_' + id);
        customPopup.style.display = 'block';
    }
    
    function closePopup(id) {
        var customPopup = document.getElementById('customPopup_' + id);
        customPopup.style.display = 'none';
    }
    
    function submitCustomText(id) {
        var customTextField = document.getElementById('customTextField_' + id);
        var inputElement = document.getElementById('recheckInput_' + id);
        inputElement.value = customTextField.value;
        var formElement = document.getElementById('recheckForm_' + id);
        formElement.submit();
        closePopup(id);
    }
    
    
</script>

<script>
    function disableButtons(clickedButton) {
        // Disable the clicked button to prevent multiple submissions
        clickedButton.disabled = true;

        // Disable the anchor element inside the clicked button
        clickedButton.querySelector('a').style.pointerEvents = "none";

        // Disable the sibling button (either Approve or Reject)
        var siblingButton = clickedButton.nextElementSibling;
        if (siblingButton) {
            siblingButton.disabled = true;
            siblingButton.querySelector('a').style.pointerEvents = "none";
        }
    }
</script>

{% endblock main_content %}