<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <p>Hello Dear {{ employee_name }}</p>
    <p>Your reimbursement request with the following details is sent back for changes:</p>
    <ul>
        <li>Claim Number: {{ bill_no }}</li>
        <li>Status: Sent back by Manager.</li>
    </ul>
    <p>Please re-submit with correct details. Thank you for your patience!</p>

    <p>Please click the following link to access the application:</p>        
    <p><a href="{{ application_link }}">{{ application_link }}</a></p>

    <p>Regards,</p>
    <p>HRMS</p>
</body>
</html>

